<div class="artist-block" data="{{artist._id}}">
    <div class=artist-block-hide>
        <img class="image" src="/img/artist_bg.png">
        <p class="artist-block-name">{{artist.name}}</p>
    </div>
</div>