<div class="artist-block" data="{{artist._id}}">
    <div class="artist-block-hide">
        <img class="image" src="/img/artist_bg.png">
        <p class="artist-block-name">{{artist.name}}</p>
    </div>
    {{#if admin}}
        <a href="admin/AddEditArtist/{{artist._id}}"><i class="fas fa-pencil-alt fa-lg" aria-hidden="true"></i></a>
        <a href="/admin/deleteArtist/{{artist._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
    {{/if}}
</div>