<div class="event-card">
    <div class="row">
        <p class="event-name col-lg-6">Sample Name</p>
        <p class="event-card-date  col-lg-6">DEC 22 2020</p>
    </div>
    <p class="event-card-desc">Something description thing.</p>
</div>