<div class="event-card">
      <iframe width="600" height="300" src="https://www.youtube.com/embed/lep7-tH15MY?&showinfo=0&controls=0&autohide=1&allownetworking=internal&mute=1&disablekb=1&loop=1&playlist=lep7-tH15MY" frameborder="0"></iframe>
    <div class="transparent"></div>
    <div class="row" id="row1">     
        <p class="event-name col-lg-6">Sample Name</p>
        <p class="event-card-date  col-lg-6">DEC 22 2020</p>        
    </div>
    
    <div class="top_cover"></div>
    <div class="bottom_cover"></div>
    
    <p class="event-card-desc">Something description thing.</p>
</div>