<footer class="contact-footer mt-5">
  <div class="container">
    <div class="row">
        <h6>About</h6>
        <h7>The purpose of the Organization is to promote musical consciousness and appreciation. The
          Organization aims to encourage the creation, and the showcase of unique and original music in addition
          to
          developing camaraderie and musical growth among
          its members.
        </h7>
    </div>
  </div>
  <hr style="border-top-color:#bbb;opacity:0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
          <a href="#">GMC</a>.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icon">
          <a class="facebook" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
          <a class="twitter" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
        </ul>
      </div>
    </div>
  </div>
</footer>