<div class="center mx-5">
    <div class="mx-auto px-5 py-2 admin-login">
        <p class="title">Admin Login</p>
        <div class="form-group mt-3">
            <input type="text" class="form-control mb-3" placeholder="Username or Email">
            <input type="text" class="form-control mb-3" placeholder="Password">
            <button type="submit" class="btn btn-secondary" href="">Login</button>
        </div>
    </div>
</div>