<div class="center mx-5">
    <div class="artistbox mx-4">
        <p class="title"><span class="green-font">A</span>RTISTS</p>
        {{>artist_card}}
        {{>artist_card}}
        {{>artist_card}}
        {{>artist_card}}
        {{>artist_card}}
    </div>
</div>