<div class="d-flex top-img-short" style="background-image: url('/img/sample_top.png');"></div>
<div class="cover d-flex" id="startchange">
    <p class="mx-auto pt-3">Music player here</p>
</div>
<div class="h-100 mx-5 p-5">
    <div class="row">
        <div class="col-lg-6">
            <p class="title"><span class="green-font">S</span>AMPLE NAME</p>
            <p>Small Description and brief history of artist.</p>
        </div>
        <div class="col-lg-6">
            <img src="/img/artist_img.png" class="artist-img">
        </div>
    </div>
    <div class="row mt-5">
        <p class="title"><span class="green-font">S</span>OCIALS</p>
    </div>
</div>