<div class="center mx-5">
    <p class="title"><span class="green-font">U</span>PCOMING <span class="green-font">E</span>VENTS</p>
    <div class="eventbox mx-4">
        {{>event_card}}
        {{>event_card}}
        {{>event_card}}
        {{>event_card}}
        {{>event_card}}
    </div>
</div>