<div class="d-flex top-img"></div>
<div class="cover d-flex" id="startchange"></div>
<div class="center mt-5">
    <p class="title"><span class="green-font">F</span>EATURED <span class="green-font">A</span>RTISTS</p>
    <div class="artistbox mx-4">
        {{>artist_card}}
        {{>artist_card}}
        {{>artist_card}}
        {{>artist_card}}
        {{>artist_card}}
    </div>
    <p class="title mt-5"><span class="green-font">U</span>PCOMING EVENTS</p>
    <div class="eventbox mx-4">
        {{>event_card}}
        {{>event_card}}
        {{>event_card}}
        {{>event_card}}
        {{>event_card}}
    </div>
</div>