<div class="d-flex top-img"></div>
<div class="cover d-flex" id="startchange"></div>
<div class="center mt-5">
    <div class="row">
        <div class="col-lg-6 mb-3">
            <p class="title"><span class="green-font">F</span>EATURED <span class="green-font">A</span>RTISTS</p>
            <div class="artistbox mx-4">
                {{#each artists}}
                {{>artist_card artist = this}}
                {{/each}}
            </div>
        </div>
        <div class="col-lg-6">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGreenMusicCollective%2F&tabs=timeline&width=650&height=400&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="650" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="1" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="title mt-5"><span class="green-font">U</span>PCOMING <span class="green-font">E</span>VENTS</p>
            <div class="eventbox mx-4">
                {{#each events}}
                {{>event_card event = this}}
                {{/each}}
            </div>
        </div>
    </div>
</div>